torch>=1.9.0
pyworld
matplotlib
librosa
tqdm
pandas
numba
numpy
requests
scipy
sympy
PyYAML==5.3.1
tensorboardX
pillow
pyloudnorm
setuptools>=41.0.0
g2p_en
resemblyzer
webrtcvad
tensorboard
scikit-learn
scikit-image
pypinyin
textgrid
jiwer
pycwt
PyWavelets
praat-parselmouth==0.3.3
jieba
g2pM
einops
pytorch_memlab
libtmux
chardet
rjieba